
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Cooperations...</h2>
    </div>
    <div class="panel-body">
      <div class="col-md-6 info">
        <div align="center">
          <a href="http://www.maxkompetens.se/" target="_blank">
            <h3>Maxkompetens</h3>
            </a>
        </div>
        
        <hr>
        
        <div align="center">
          <img src="https://wp-ip.s3.amazonaws.com/blogs.dir/57/files/2013/11/MaxLogga-e1360162499180.png" class="img-responsive">
        </div>
        
        <hr>
        
        <p>
          Together with Maxkompetens, Kodkollektivet can build a bridge to the companies around.
          For members in Kodkollektivet, Maxkompetens is the ultimate way to get a job next to school.
          Maxkompetens is providing Kodkollektivet with a space to be and have meetings.
        </p>
      </div>

      <div class="col-md-6 info">
        <div align="center">
          <h3>Your company?</h3>
        </div>
        
        <hr>
        
        <p>
          Kodkollektivet is always looking for new ideas and companies to work with.
          If you have a idea or want to help members in Kodkollektivet.
          Please contant us!
        </p>
      </div>

      
    </div>
</div>
