
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Cooperations...</h2>
    </div>
    <div class="panel-body">
      <div class="col-md-6 info">
        
        <div align="center">
          <a href="http://www.maxkompetens.se/" target="_blank">          
            <img src="/static/img/max.jpg" class="img-responsive">
            </a>            
        </div>
        
        <hr>
        
        <p>
          Together with Maxkompetens, Kodkollektivet builds a bridge to the companies around.
          For members in Kodkollektivet, Maxkompetens is the ultimate way to get in contact with interesting companies.
        </p>
        <br>
        <p>
          ”Maxkompetens är en rekryteringsbas för många spännande IT-företag i regionen och samarbetet med Kodkollektivet är ett sätt att stärka konkurrenskraften vad gäller att attrahera unga IT-talanger. Vi ser fram emot ett långt och givande samarbete.”
          <br>
          / Christoffer Petrén, Kontorschef Maxkompetens Växjö
        </p>
      </div>

      <div class="col-md-6 info">
        <div align="center">
          <h3>Your company</h3>
        </div>
        
        <hr>

        <div align="center">
          <div class="fa fa-question fa-2x"></div>
        </div>

        
        <hr>
        
        <p>
          Kodkollektivet is always looking for new ideas, people and companies to work with.
          If you have an idea or want to work with us in any way?
          Please contant us!
        </p>
      </div>

      
    </div>
</div>
