
<table class="table">
    <tr>
        <th>Project</th>
        <th>Languages</th>
        <th>Links</th>
    </tr>
    <tr ng-repeat="project in projects | orderBy : 'slug'">
        <td>
            <a href="#/projects/{{project.slug}}">{{project.name}}</a>
        </td>
        <td>
            <ul>
                <li ng-repeat="lan in prolan | filter:project.slug:true">
                    <span class="label label-primary">{{ lan.language }}</span>
                </li>
            </ul>
        </td>
        <td>
            <a href="{{project.gh_url}}" class="fa fa-github fa-2x"></a>
        </td>
    </tr>
</table>
