
<table class="table">
    <tr>
        <th>Project</th>
        <th>Languages</th>
        <th>Frameworks</th>
    </tr>
    <tr ng-repeat="project in projects">
        <td>
            <a href="#/projects/{{project.slug}}">{{project.name}}</a>
        </td>
        <td>
            <ul>
                <li ng-repeat="lan in prolan | filter:project.slug:true">
                    <span class="label label-primary">{{ lan.language }}</span>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li ng-repeat="fra in profra | filter:project.slug:true">
                    <span class="label label-success">{{ fra.framework }}</span>
                </li>
            </ul>
        </td>
    </tr>
</table>
