
<div class="">
    <div>
        <h2>Projects</h2>
    </div>

    <table class="table table-striped">
        <tr>
          <th>Projects</th>
          <th>Languages</th>
          <th>Links</th>
        </tr>
        <tr ng-repeat="project in projects">
            <td>
                <a href="#/project/{{project.slug}}">{{project.name}}</a>
            </td>
            <td>
                <ul>
                    <li ng-repeat="lan in prolan | filter:project.slug:true">
                        <span class="label label-primary">{{ lan.language }}</span>
                    </li>
                </ul>
            </td>
            <td>
                <a href="{{project.gh_url}}" class="fa fa-github fa-2x"></a>
            </td>
        </tr>
    </table>
</div>
