<div class="well">
    <div align="center">
        <h2>Contributors to Kodkollektivet projects:</h2>
    </div>
    <div align="center" ng-repeat="contributor in contributors">
        <h3>{{ contributor.name }}</h3>
        <a href="{{ contributor.gh_url }}" target="_blank">
            <h5>GitHub</h5>
        </a>
        <a href="{{ contributor.website }}" target="_blank" ng-show="contributor.website.length > 0">
            <h5>Personal</h5>
        </a>
    </div>
</div>
<div ui-view></div>
