<div class="pageContent" ng-include src="'templates/shared/info.html'"></div>


<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Kodkollektivet projects and members...</h2>
    </div>
    <div class="panel-body">

	<uib-tabset justified="true">
	  
	  <uib-tab heading="Projects">
	    <project-list></project-list>
	  </uib-tab>
	
	  <uib-tab heading="Members">
	    <contributors-list></contributors-list>
	  </uib-tab>

	</uib-tabset>

    </div>
</div>

<hr>

<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">News...</h2>
    </div>
    <div class="panel-body">
      <news-list></news-list>
    </div>
</div>



