<div>
    <button class="btn btn-large" ng-click="slide()">Contributors</button>
    <div class="well" ng-show="showDetailed === false">
        <h2>Projects</h2>
        <div align="center" ng-repeat="procon in procons">
            <h3>{{ procon.project }}</h3>
            <h5>{{ procon.contributor }}</h5>
            <button class="btn btn-block" ng-click="goToDetails(procon)">Details</button>
        </div>
    </div>

    <div class="well" ng-show="showDetailed === true" ng-include="'templates/project-details.html'">
        <h2>Project Details</h2>
    </div>

    <div ui-view></div>
</div>