<button class="btn" ng-click="leaveDetails()">Back</button>
<div>
    <div align="center">
        <h1>{{ project.name }}</h1>
        <a href="{{ project.gh_url }}" target="_blank">
            <h2>
                Source code
            </h2>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="center">
            <h3>Languages:</h3>
            <h5 ng-repeat="prolan in prolans | filter:project.slug:true">{{ prolan.language }}</h5>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="center">
            <h3>Contributors:</h3>
            <h5 ng-repeat="procon in procons | filter:project.slug:true">{{ procon.contributor }}</h5>
        </div>
    </div>

    <div class="well">
        <div class="row" align="center">
            <h3>About:</h3>
        </div>
        <div ng-bind-html="info"></div>
    </div>

</div>

