
<div class="input-group">
  <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" ng-model="filterNews">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </span>
</div>

<hr>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="{{n.title}}" ng-repeat="n in news | filter: filterNews">
    <div align="right">Published: {{n.created | date:'yyyy-MM-dd' }}</div>
    <div btf-markdown="n.body"></div>
  </uib-accordion-group>
</uib-accordion>
