html, body {
    height: 100%;
    width: 100%;
}

a.fa {
    color: black;
}

a.fa:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    text-align: justify;
}

