
<hr>

<h2 align="center">{{ contributor.name }}</h2>

<hr>


<div align="center">

  <!-- GitHub -->
  <a ng-show="contributor.gh_html.length > 0" href="{{ contributor.gh_html}}" target="_blank" class="fa fa-github fa-3x"></a>

  <!-- Website -->
  <a ng-show="contributor.website.length > 0" href="{{ contributor.website}}" target="_blank">
    <h1 style="display: inline; margin-left: 3vh;">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    </h1>
  </a>

  <!-- Email -->  
  <a ng-show="contributor.email.length > 0" href="mailto:{{contributor.email}}" target="_top">
    <h1 style="display: inline; margin-left: 3vh;">
      <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </h1>
  </a>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="center">
    <img src="{{ contributor.gh_avatar }}" class="img-responsive" style="width: 50%">
  </div>  

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  
    <div align="center">
      <h2>Contributed to projects:</h2>
      <a ng-repeat="pro in projects"href="#/projects/{{ pro.slug }}">
	<h3>{{ pro.name }}</h3>
      </a>
    </div>
  </div>  
</div>  


<div align="center" style="margin-top:1vh">
  <h3>About</h3>    
</div>

<div class="well">
  <div btf-markdown="contributor.about"></div>    
</div>




